body {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
/* For layout checking*/
div, section, header, footer {
  border: 1px solid black;
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 1s ease;
}

#tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 500px;
  margin: auto;
}

#tab .li:hover {
  cursor: pointer;
  color: blue;

  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
/*
  text-orientation not work in IE,
  ref: https://stackoverflow.com/questions/17286651/vertical-text-in-ie7-ie8-ie9-and-ie10-with-css-only
*/
#sidebtn {
  writing-mode: vertical-lr;
  text-orientation: mixed;

  position: fixed;
  top: 500px;
  right: 0;
}
#sidebtn:hover {
  cursor: pointer;
  color: blue;

  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

#section1 {
  height: 400px;
  text-align: center;
  
  background-image: url("./testimg.png");
  background-size: cover;
  width: 100%;
  min-width: 500px;
}
#section1 .title{
  margin-top: 50px;
  font-size: 50px;
}

#section2 {
  position: relative;
  height: 50px;

  overflow: hidden;
  white-space: nowrap;
}
@keyframes move {
  from {
    left: -30%;
  } to {
    left: 100%;
  }
}

#section2 .first {
  position: absolute;
  top: 0;
  left: 0;
  animation: 8s linear move infinite;
}
#section2 .second {
  position: absolute;
  top: 0;
  left: 100%;
}

#section3 {
  width: 100%;
  min-width: 500px;
  height: 300px;

  display: flex;
  flex-direction: row;
}
#section3 .img {
  width: 50%;
  background-image: url("./testimg.png");
  background-size: cover;
}
#section3 .text {
  display: flex;
  flex-direction: row;

  width: 50%;
}
#section3 .text .margin {
  width: 20%;
  min-width: 50px;

  border: none;
}
#section4 {
  width: 100%;
  min-width: 500px;
  height: 400px;

  display: flex;
  flex-direction: row;
}
#section4 .left {
  width: 30%;
  text-align: center;
}
#section4 .left button {
  display: block;
  margin: auto;
}
#section4 .right {
  flex-direction: column;
  width: 70%;
}
#section4 .right .img {
  background-image: url("./testimg.png");
  background-size: cover;

  height: 300px;
}
#section4 .right .text {
  height: 100px;
}

#section5 {
  width: 100%;
  min-width: 500px;
  height: 300px;

  display: flex;
  flex-direction: row;
}
#section5 .left {
  width: 50%;
}
#section5 .right {
  width: 50%;
}
#section5 .bg {
  --pos: 0;

  width: 150%;
  height: 150%;
  background-image: url("./testimg.png");
  background-size: cover;

  position: absolute;
  top: -50%;
  left: -50%;

  transform: translateY(var(--pos));
}
#section5 .bg_media {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: relative;
}


.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel .wrapper .item {
  --trans: 0;

  position: absolute;
  top: 0;
  left: 0;

  opacity: var(--trans);
  transition: opacity 1s;
}
.carousel .btn {
  position: absolute;
  width: 100%;
  top: 200px;
  text-align: center;
}
.carousel button {
  width: 10px;
  height: 10px;
  margin: 10px;
  border: none;
  background-color: black;
  border-radius: 10px;
  padding: 0;
}
.carousel .select {
  background: none;
  border: 1px solid black;
}

#section6 {
  width: 100%;
  min-width: 500px;
  height: 300px;

  display: flex;
  flex-direction: row;
}
#section6 div {
  width: 33%;
  border: 1px solid black;
  height: 300px;
}

footer {
  width: 100%;
  min-width: 300px;
  height: 300px;
}
