body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.autocomplete {
  position: relative;
}

.autocomplete input {
  background: none;
  border: none;
}
.autocomplete input:focus {
  outline: none;
}
.autocomplete .autocomplete_ul {
  border: none;
}
.autocomplete .autocomplete_ul div {
  border-radius: 5px;
}
.autocomplete .autocomplete_ul div:hover {
  background-color: rgb(172, 172, 172);
}

a {
  text-decoration: none;
  color: inherit;
}
a:any-link {
  color: inherit;
}

.kui_button {
  background: rgba(172, 172, 172, 0.3);
}
